@font-face {
   font-family: "LuloCleanOutline-Bold";
   src: url("/assets/font/LuloCleanOutlineBold/font.woff2") format("woff2"),
      url("/assets/font/LuloCleanOutlineBold/font.woff") format("woff");
}

body {
   font-family: futura-pt, "Helvetica", "Arial", sans-serif;
   font-weight: 900;
   letter-spacing: 0.8px;
   font-size: 22px;
   line-height: 1.7em;
}

a {
   color: black;
}

h1 {
   font-family: "LuloCleanOutline-Bold";
   font-size: 90px;
   line-height: 1.5em;
}

h2 {
   font-family: "LuloCleanOutline-Bold";
   font-size: 65px;
   line-height: 1em;
   text-align: center;
}

.small-header {
   font-size: 50px;
   color: #f1678f;
   text-shadow: -40px -40px 0 #f1678f, -20px -20px 0 #f1678f,
      20px 20px 0 #f1678f, 40px 40px 0 #f1678f;
   margin-top: 50px;
   margin-bottom: 50px;
}

#site-container {
   width: 1000px;
   text-align: center;
   margin: 0 auto;
   padding: 50px 0 10px 0;
}

.page {
   text-align: left;
   width: 800px;
   margin: 0 auto;
}

img {
   width: 500px;
}

nav {
   border-top: 1px solid #f1678f;
   border-bottom: 1px solid #f1678f;
   display: inline-block;
   margin-top: 50px;
   margin-bottom: 50px;
   #nav-menu {
      margin: 0;
      padding-inline-start: 0;
      font-size: 35px;
      line-height: 58px;
      .nav-item {
         position: relative;
      }
      .nav-hover-menu {
         visibility: hidden;
         padding: 0 15px 0 15px;
         max-width: 500px;
         width: max-content;
         position: absolute;
         left: -175px;

         background-color: #fbb7c9;
         li {
            display: block;
            width: unset;
            &:hover {
               a {
                  color: #f1678f;
               }
            }
         }
      }
      li {
         display: inline-block;
         width: 175px;
         &:hover {
            .nav-item-link {
               color: #f1678f;
            }
            .nav-hover-menu {
               visibility: visible;
            }
         }
      }
      a {
         text-decoration: none;
         color: black;
      }
   }
}

.text-block {
   margin-top: 50px;
   overflow: auto;
}

figure {
   display: inline-block;
   line-height: 1em;
}
figcaption {
   text-align: right;
   font-size: smaller;
}

.float-left {
   float: left;

   figcaption {
      text-align: left;
   }
}

.float-right {
   float: right;
}

hr {
   width: 500px;
   height: 0px;
   padding-top: 5px;
   border-width: 3px 0px 1px 0px;
   margin-top: 100px;
   margin-bottom: 100px;
   border-style: solid;
   border-color: #fbb7c9;
}

.nav-item {
   list-style-type: none;
}
